<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">
        <app-profile-card></app-profile-card>
    </div>
    
    <div class="list-group list-group-flush">
        <a routerLink="/home" class="list-group-item list-group-item-action bg-light">Profile</a>
        <a href="/timeline" class="list-group-item list-group-item-action bg-light">Timeline</a>
        <a href="#" class="list-group-item bg-light list-group-item-spacer"></a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-dark">Source code</a>
    </div>
</div>
