<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="assets/img/profile_picture.jpg">
    <div class="card-body">
      <h5 class="card-title">Aaron Waidmann</h5>
      <h6 class="card-subtitle mb-2 text-muted">Software developer</h6>
      
      <table cellspacing="0" cellpadding="0" class="link-table">
        <tr>
            <td><fa-icon class="brand-icon" [icon]="linkedinIcon"></fa-icon></td>
            <td><a href="https://www.linkedin.com/in/aaron-waidmann-286a511b4/">Aaron Waidmann</a></td>
          </tr>
          <tr>
            <td><fa-icon class="brand-icon" [icon]="githubIcon"></fa-icon></td>
            <td><a href="https://github.com/Waidmann">Waidmann</a></td>
          </tr>
      </table>      
    </div>
  </div>