<div class="container-fluid">

    <div class="toc" data-toc="h1, h2, h3"></div>

    <h1 data-toc-title="Profile">Profile</h1>
    <p>I am an energetic and invested software engineer based in Vienna, Austria. <br />
        You could say I have been a coder for almost half my life now - starting
        out with Visual basic script and bash to prank friends and family or create the most basic games at just 12.
        <br />
        I became serious about programming in 2015, when I decided that a normal school
        wasn't gonna cut it anymore and so started my formal software development education
        in the technical college Spengergasse. <br />
        Since then I have learned a lot about software development
        and I am now in the process of translating this knowledge into action.
    </p>

    <h2 data-toc-title="Skills">Skills</h2>
    <app-skills></app-skills>

</div>
